# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# Data files (optional - very important for large dataset)
data/spotify-tracks-dataset.csv

# Mac
.DS_Store

# Streamlit cache
.streamlit/